# .gitignore

# Cache et fichiers temporaires
*.log
*.cache
*.tmp
*.txt

# Environnement local
.env
*.key
scripts/*.local.ps1
scripts/*.local.cmd

# Fichiers système
.DS_Store
.debug
Thumbs.db

# Dossiers à ne pas versionner
vendor/
node_modules/

# Éditeur/IDE
.vscode/
